	<!-- *****************************************************************************************************************
	 FOOTER
	 ***************************************************************************************************************** -->
	 <div id="footerwrap">
	 	<div class="container">
		 	<div class="row">
		 		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
		 			<h4>About</h4>
		 			<div class="mySeparator"></div>
		 			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
		 			
		 			<div class='footerIcons'>
		 				<a href="#"><i class="fa fa-google"></i></a>
		 				<a href="#"><i class="fa fa-facebook"></i></a>
		 				<a href="#"><i class="fa fa-twitter"></i></a>
		 				<a href="#"><i class="fa fa-instagram"></i></a>

		 			</div>
		 		</div>
		 		
		 		
			 		<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
			 			<div class='row'>
			 				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				 				<h4>Contact</h4>
				 				<div class="mySeparator"></div>
				 			</div>
			 			</div>
			 			<div class='row'>
			 				<form id="contactForm" method='POST' action='/contact'>
			 		
					 		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
			 			
						 			 <div class="form-group">
							          <div class="input-group">
							            <span class="input-group-addon"><i class="fa fa-user fa-fw fa-lg" aria-hidden="true"></i></span>
							            <input class="form-control" placeholder="Please enter your name" name="name" type="text" required/>
							          </div>
							        </div>
							
							        <div class="form-group">
							          <div class="input-group">
							            <span class="input-group-addon"><i class="fa fa-envelope-o fa-lg fa-fw" aria-hidden="true"></i></span>
							            <input type="text" class="form-control" name="email" placeholder="Please enter your email address" required/>
							          </div>
							        </div>
							
							        <div class="form-group">
							          <div class="input-group">
							            <span class="input-group-addon"><i class="fa fa-phone-square fa-lg fa-fw" aria-hidden="true"></i></span>
							            <input class="form-control" placeholder="Please enter your phone." name="phone" type="text" required/>
							          </div>
							        </div>
		
					 			
					 		</div>
					 			
					 		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
    
						    	<textarea class="form-control" rows="4" placeholder="Type your message here..." name="message" required></textarea>
								<button type="submit" class="btn btn-block btn-primary"><i class="fa fa-paper-plane"></i> Send message</button>
							</div><!--COLUMN of contact form -->
			     
						</form>
		 			</div><!--ROW-->
		 		
		 	 
		 	</div><!--second column-->

		 	
		 	</div><!--/row -->
	 	</div><!--/container -->
	 </div><!--/footerwrap -->
</body>
</html>