<!DOCTYPE html>
<html lang="en">
<head>
  <title>Childev</title>

   <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
    <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Monoton|Raleway'/>
    <link rel="stylesheet" href="/style/main.css"/>


    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  
</head>
<body>

<nav class="navbar navbar-fixed-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
 <a href="/" class="navbar-brand" style="font-size: x-large"><strong>Childev</strong></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
            
      <% if(currentUser){ %>
          <ul class="nav navbar-nav">
              <li><a href="#">Welcome <%= currentUser.username %></a></li>
          </ul>
       <% } %>     
       <% if(currentUser){ %>
            <ul class="nav navbar-nav navbar-right">
             <li><p class="navbar-btn"><a class="btn btn-danger" href="/logout">Logout</a></p></li> 
             <li>&nbsp; &nbsp;</li> 
            </ul>
       <% } %>
       <% if(!currentUser){ %>

          <ul class="nav navbar-nav navbar-right">
                <li class=" dropdown">
                    <a href="#" class="mydrop dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Staff Login<span class="caret"></span></a>
                    <ul class="dropdown-menu" style="padding:18px;">
                        <li><a><h4><strong>Access to the Manager's Platform</strong></h4></a></li>

                            <form method='POST' action='/login/staff/manager' ><!-- POSTS the username and password to login -->
                                <div class="form-group">
                                <input name='username' type="text" placeholder="Email" class="form-control">
                                </div>
                                <div class="form-group">
                                <input type="password" name='password' placeholder="Password" class="form-control">
                                </div>
                                <button type="submit" class="btn btn-success  btn-block">Sign in as a Manager</button>
                            </form>

                        <li><a href="#j">Forgot username or password?</a></li>
                        
                        <li role="separator" class="divider"></li>

                        
                        <li><a><h4><strong>Access to the Teacher's Platform</strong></h4></a></li>

                            <form method='POST' action='/login/staff/teacher' ><!-- POSTS the username and password to login -->
                                <div class="form-group">
                                <input name='username' type="text" placeholder="Email" class="form-control">
                                </div>
                                <div class="form-group">
                                <input type="password" name='password' placeholder="Password" class="form-control">
                                </div>
                                <button type="submit" class="btn btn-success  btn-block">Sign in as a Teacher</button>
                            </form>

                        <li><a href="#j">Forgot username or password?</a></li>
                    </ul>
                </li>
              </ul>

             <ul class="nav navbar-nav navbar-right">
                <li class=" dropdown">
                    <a href="#" class="mydrop dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Parent's Login<span class="caret"></span></a>
                    <ul class="dropdown-menu" style="padding:18px;">
                        <li><a><h4><strong>Access the progress of your child</h4></strong></a></li>

                        <li role="separator" class="divider"></li>
                            <form method='POST' action='/login/parent' ><!-- POSTS the username and password to login -->
                                <div class="form-group">
                                <input name='username' type="text" placeholder="Email" class="form-control">
                                </div>
                                <div class="form-group">
                                <input type="password" name='password' placeholder="Password" class="form-control">
                                </div>
                                <button type="submit" class="btn btn-success  btn-block">Sign in</button>
                            </form>

                        <li role="separator" class="divider"></li>
                        <li><a href="#j">Forgot username or password?</a></li>
                    </ul>
                </li>
              </ul>
               <ul class="nav navbar-nav navbar-right">
                 
                 <li><a href="/register/nursery">Register your Nursery</a></li> <!-- GETS the form to login -->
               </ul>
       <% } %>
    </div>
  </div>
</nav>
<!-------------------------------------------->
   
           
                  <br>
                  <br>
                  <br>
<% include ./flashMessage.ejs %>

    
