@import url('https://fonts.googleapis.com/css?family=Lato');


html, body {
    height: 100%;
    background: #222222;

}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    font-family: Lato;
}

h1, h2, h3{
    text-align: center;
}

.header{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14em;
}

a:link{
    color:whitesmoke;
}

a:visited{
    color:#00B3FE;
}