@import url('https://fonts.googleapis.com/css?family=Lato');



body { 
	margin: 0; 
	height: 100%; 
	font-family: 'Lato', sans-serif;
	background-color: #00b3fe;

	}

/*Presentation*************************************/

#presentation {
	min-height: 500px;
	padding-top: 30px;
	text-align: center;
	color: white;

}

#presentation h3, h5 {
	font-weight: 400;
}



/* Carousel */

#homeCarousel{
}

.slider-size {
height: 500px; /* This is your slider height */
}


/*******************************************/

#wrapper {
  margin-top: 50px;
  

}

.header1{
    margin-top: 50px;

}

.navbar{
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    padding-top:5px;
    padding-bottom:5px;

}


.form-signin {
  max-width: 580px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.help-block{
  color:#d9534f;
}
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    right: 100%;
    margin-top: -1px;
}

/*********************************************/



/* Services */
#service {
	margin-top: 50px;
	padding-top: 50px;
	padding-bottom: 50px;
	background: #ffffff;
	text-align: center;


}

#service i {
  padding: 10px;
	color: #384452;
	font-size: 60px;
	
}

/*Benefits*******************************************************/

#benefits{
  	background-color: #00b3fe;
  	padding-top: 50px;
  	padding-bottom: 50px;
  	color: white;


}
.myBorder{
    text-align: center;
   /* border: 1px solid rgba(255,255,255,0.3);*/
}
/*
.insideBorder{
      border: 1px solid rgba(255,255,255,0.3);
}*/
.myBenefits ul li{
	text-align: left;
	font-size: 1.12em;
}
/***Evaluation*************************/

#evaluationOverall{

	min-height: 200px;
	padding-top: 30px;
	padding-bottom: 20px;
	text-align: center;
	color: white;

}

#informationByAge{
	color:#384452;
	padding-bottom: 30px;
	text-align: center;


}
#informationByAge h2{
	margin-top: 0;
	margin-bottom: 20px;
	color:white;

}



.myList{
	text-align: left;
}


.prioritiesContent{
    background-color: white;
    border-radius:5px;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: 5px;
    padding:10px;
    box-shadow: -2px 2px 5px #222222;

}
.prioritiesContent:hover {
  box-shadow: -7px 7px 2px #222222;
  transform: translate(3px, -3px);
}

.agesTitleColor{
 	color:black;
}
/**Footer****************************************************/
#footerwrap {
	padding-top: 30px;
	padding-bottom: 30px;
	background: #222222;
}

#footerwrap p {
	color: #bfc9d3;
}

#footerwrap h4 {
	color: white;
}

.footerIcons i {
	font-size: 30px;
	color: #bfc9d3;
	padding-right: 25px;
}

#footerwrap i:hover {
	color: #00b3fe
}


/***********************************/


.mySeparator {
	border-bottom: 2px solid #ffffff;
	margin-bottom: 20px;
}