<% include ../../partials/teacher/dashboardColumn.ejs %> 

<div id="page-wrapper">
            
            <% include ../../partials/flashMessage.ejs %>
            
            

        <div  class="container-fluid">

           <h3>Progress Report for child: <strong><span>Name</span>, <span>Age</span>.</strong></h3>
           <p><span class='label label-success'>HP</span> High Priority - Parents will be informed if mark is "Needs Special Attention",</p> 
           <span class='label label-warning'>LP</span> Low Priority - Parents will not be informed even if mark is "Needs Special Attention".</p>
               <form id='progressReport'>
                  <div class='row'>

                   <div class='col-md-9'>
                    <h4><strong><u>Intellectual Development</u></strong> <span class='label label-success' data-toggle="tooltip">HP</span> <span class='label label-warning' data-toggle="tooltip">LP</span></h4>
                     <ul>
                              <li>
                                 <div id='mathematical' class="form-group form-inline">
                                  <label class="control-label text-inverse" for="carerType"><i class="fa fa-fw fa-info-circle clearBlue" aria-hidden="true" data-toggle="tooltip"></i> <span class='label'></span> Mathematical Skills </label>

                                      <select name='mathematical' class='form-control' required>
                                        <option value='' >Mark</option>
                                        <option value='90'>Developed</option>
                                        <option value='70'>Good</option>
                                        <option value='50'>Average</option>
                                        <option value='30'>Can Improve</option>
                                        <option value='10'>Needs Special Attention</option>
                                     </select>
                                </div>
                              </li>
                              <li>
                                 <div  id='language' class="form-group form-inline">
                                  <label class="control-label text-inverse" for="carerType"><i class="fa fa-fw fa-info-circle clearBlue" aria-hidden="true" data-toggle="tooltip"></i> <span class='label'></span> Language and communication Skills </label>

                                      <select name='language' class='form-control' required>
                                        <option value='' >Mark</option>
                                        <option value='90'>Developed</option>
                                        <option value='70'>Good</option>
                                        <option value='50'>Average</option>
                                        <option value='30'>Can Improve</option>
                                        <option value='10'>Needs Special Attention</option>
                                     </select>
                                </div>
                              </li>
                              <li>
                                <div id='attention' class="form-group form-inline">
                                  <label class="control-label text-inverse" for="carerType"><i class="fa fa-fw fa-info-circle clearBlue" aria-hidden="true" data-toggle="tooltip"></i> <span class='label'></span> Attention skills </label>

                                      <select  name='attention' class='form-control' required>
                                        <option value='' >Mark</option>
                                        <option value='90'>Developed</option>
                                        <option value='70'>Good</option>
                                        <option value='50'>Average</option>
                                        <option value='30'>Can Improve</option>
                                        <option value='10'>Needs Special Attention</option>
                                     </select>
                                </div>
                              </li>
                              <li>
                                 <div id='recognition' class="form-group form-inline">
                                  <label class="control-label text-inverse" for="carerType"><i class="fa fa-fw fa-info-circle clearBlue" aria-hidden="true" data-toggle="tooltip"></i> <span class='label'></span> Recognition and perception of objects, people, etc. </label>

                                      <select  name='recognition' class='form-control' required>
                                        <option value='' >Mark</option>
                                        <option value='90'>Developed</option>
                                        <option value='70'>Good</option>
                                        <option value='50'>Average</option>
                                        <option value='30'>Can Improve</option>
                                        <option value='10'>Needs Special Attention</option>
                                     </select>
                                </div>
                              </li>
                            </ul>
                   </div><!-- first column -->
                   
                 </div><!-- first row -->
                 <div class='row'>

                   <div class='col-md-9'>
                    <h4><strong><u>Social and Emotional Development</u></strong> <span class='label label-success' data-toggle="tooltip">HP</span> <span class='label label-warning' data-toggle="tooltip">LP</span></h4>
                     <ul>
                              <li>
                                 <div id='respect' class="form-group form-inline">
                                  <label class="control-label text-inverse" for="carerType"><i class="fa fa-fw fa-info-circle clearBlue" aria-hidden="true" data-toggle="tooltip"></i> <span class='label'></span> Affection and respect for others </label>

                                      <select  name='respect' class='form-control' required>
                                        <option value='' >Mark</option>
                                        <option value='90'>Developed</option>
                                        <option value='70'>Good</option>
                                        <option value='50'>Average</option>
                                        <option value='30'>Can Improve</option>
                                        <option value='10'>Needs Special Attention</option>
                                     </select>
                                </div>
                              </li>
                              <li>
                                 <div id='teamworking' class="form-group form-inline">
                                  <label class="control-label text-inverse" for="carerType"><i class="fa fa-fw fa-info-circle clearBlue" aria-hidden="true" data-toggle="tooltip"></i> <span class='label'></span> Team-working skills </label>

                                      <select  name='teamworking' class='form-control' required>
                                        <option value='' >Mark</option>
                                        <option value='90'>Developed</option>
                                        <option value='70'>Good</option>
                                        <option value='50'>Average</option>
                                        <option value='30'>Can Improve</option>
                                        <option value='10'>Needs Special Attention</option>
                                     </select>
                                </div>
                              </li>
                              <li>
                                <div id='independence' class="form-group form-inline">
                                  <label class="control-label text-inverse" for="carerType"><i class="fa fa-fw fa-info-circle clearBlue" aria-hidden="true" data-toggle="tooltip"></i> <span class='label'></span> Independence and personal autonomy </label>

                                      <select  name='independence' class='form-control' required>
                                        <option value='' >Mark</option>
                                        <option value='90'>Developed</option>
                                        <option value='70'>Good</option>
                                        <option value='50'>Average</option>
                                        <option value='30'>Can Improve</option>
                                        <option value='10'>Needs Special Attention</option>
                                     </select>
                                </div>
                              </li>
                              <li>
                                 <div id='feelingsexpression' class="form-group form-inline">
                                  <label class="control-label text-inverse" for="carerType"><i class="fa fa-fw fa-info-circle clearBlue" aria-hidden="true" data-toggle="tooltip"></i> <span class='label'></span> Expression of feelings and emotions </label>

                                      <select name='feelingsexpression' class='form-control' required>
                                        <option value='' >Mark</option>
                                        <option value='90'>Developed</option>
                                        <option value='70'>Good</option>
                                        <option value='50'>Average</option>
                                        <option value='30'>Can Improve</option>
                                        <option value='10'>Needs Special Attention</option>
                                     </select>
                                </div>
                              </li>
                            </ul>
                   </div><!-- first column -->
                   
                 </div><!-- second row -->
                 <div class='row'>

                   <div class='col-md-9'>
                    <h4><strong><u>Psychomotor and Physical Development</u></strong> <span class='label label-success' data-toggle="tooltip">HP</span> <span class='label label-warning' data-toggle="tooltip">LP</span></h4>
                     <ul>
                              <li>
                                 <div id='motor' class="form-group form-inline">
                                  <label class="control-label text-inverse" for="carerType"><i class="fa fa-fw fa-info-circle clearBlue" aria-hidden="true" data-toggle="tooltip"></i> <span class='label'></span> Motor skills </label>

                                      <select name='motor' class='form-control' required>
                                        <option value='' >Mark</option>
                                        <option value='90'>Developed</option>
                                        <option value='70'>Good</option>
                                        <option value='50'>Average</option>
                                        <option value='30'>Can Improve</option>
                                        <option value='10'>Needs Special Attention</option>
                                     </select>
                                </div>
                              </li>
                              <li>
                                 <div id='manipulative' class="form-group form-inline">
                                  <label class="control-label text-inverse" for="carerType"><i class="fa fa-fw fa-info-circle clearBlue" aria-hidden="true" data-toggle="tooltip"></i> <span class='label'></span> Manipulative and movement skills </label>

                                      <select name='manipulative' class='form-control' required>
                                        <option value='' >Mark</option>
                                        <option value='90'>Developed</option>
                                        <option value='70'>Good</option>
                                        <option value='50'>Average</option>
                                        <option value='30'>Can Improve</option>
                                        <option value='10'>Needs Special Attention</option>
                                     </select>
                                </div>
                              </li>
                              <li>
                                <div  id='hygiene'  class="form-group form-inline">
                                  <label class="control-label text-inverse" for="carerType"><i class="fa fa-fw fa-info-circle clearBlue" aria-hidden="true" data-toggle="tooltip"></i> <span class='label'></span> Personal hygiene </label>

                                      <select name='hygiene' class='form-control' required>
                                        <option value='' >Mark</option>
                                        <option value='90'>Developed</option>
                                        <option value='70'>Good</option>
                                        <option value='50'>Average</option>
                                        <option value='30'>Can Improve</option>
                                        <option value='10'>Needs Special Attention</option>
                                     </select>
                                </div>
                              </li>
                              <li>
                                 <div  id='diet'  class="form-group form-inline">
                                  <label class="control-label text-inverse" for="carerType"><i class="fa fa-fw fa-info-circle clearBlue" aria-hidden="true" data-toggle="tooltip"></i> <span class='label'></span> Healthy Diet </label>

                                      <select name='diet' class='form-control' required>
                                        <option value='' >Mark</option>
                                        <option value='90'>Developed</option>
                                        <option value='70'>Good</option>
                                        <option value='50'>Average</option>
                                        <option value='30'>Can Improve</option>
                                        <option value='10'>Needs Special Attention</option>
                                     </select>
                                </div>
                              </li>
                            </ul>
                   </div><!-- first column -->
                   
                 </div><!-- third row -->
                   
                   
                   
               </form>
       
       
       
       
       
       
       </div>
        <!-- /.container-fluid -->

    </div>
    <!-- /#page-wrapper -->

  </div>
    <!-- /#wrapper -->
    
    
<% include ../../partials/dashboardCommon/dashboardFooter.ejs %> 
