<% include ../../partials/teacher/dashboardColumn.ejs %> 

<div id="page-wrapper">
            
            <% include ../../partials/flashMessage.ejs %>
            
            

            <div  class="container-fluid">
                 <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="page-header">
                           Progress Report of child: <small><strong><%=reportFound.children.name%></strong>. DOB: <%=reportFound.children.dob%></span>. Age: <span><%=reportFound.childAge%></span>.</small>
                        </h2>
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-tasks"></i> Report
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->
                
                <div class="raw_title">
                    <h3>Data with priorities applied.</h3>
                </div>
                
                <div class="row row-offset-0">
                        <div class="col-md-8 col-sm-8 col-xs-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <i class="fa fa-bar-chart-o fa-fw"></i> Area Chart Example
                                   
                                </div> <!-- /.panel-heading -->
                                <div class="panel-body">
                                      gfdgfd
                                </div><!-- /.panel-body -->
                            </div><!--panel-->
                         </div><!--column-->
                        
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <i class="fa fa-bar-chart-o fa-fw"></i> Area Chart Example
                                   
                                </div> <!-- /.panel-heading -->
                                <div class="panel-body">
                                      gfdgfd
                                </div><!-- /.panel-body -->
                            </div><!--panel-->
                        </div><!--column-->
        
                </div>
                <!--FIRST ROW-->
                <hr/> 
                <div class="raw_title">
                    <h3>Raw data with No priorities applied.</h3>
                </div>
                   
                
                <div class="row row-offset-0">

                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <i class="fa fa-bar-chart-o fa-fw"></i> Area Chart Example
                                   
                                </div> <!-- /.panel-heading -->
                                <div class="panel-body">
                                      gfdgfd
                                </div><!-- /.panel-body -->
                            </div><!--panel-->
                        </div><!--column-->
                        
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <i class="fa fa-bar-chart-o fa-fw"></i> Area Chart Example
                                   
                                </div> <!-- /.panel-heading -->
                                <div class="panel-body">
                                      gfdgfd
                                </div><!-- /.panel-body -->
                            </div><!--panel-->
                        </div><!--column-->  
                        
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <i class="fa fa-bar-chart-o fa-fw"></i> Area Chart Example
                                   
                                </div> <!-- /.panel-heading -->
                                <div class="panel-body">
                                      gfdgfd
                                </div><!-- /.panel-body -->
                            </div><!--panel-->
                        </div><!--column-->                        
                        
                </div>
                <!--SECOND ROW-->                

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->
        
       
  </div>
    <!-- /#wrapper -->
    
  <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
   <script src='/script/teacherFrontEnd.js'></script>
</body>

</html>