<% include ./partials/dashboardCommon/header.ejs %>

        <div id='evaluationOverall'>
            <div class='container'>
                <h1>Evaluation information</h1>
     			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                <hr/>
                <div class='row centered'>
                     <div class="col-md-4">
     					<i class="fa fa-heart-o"></i>
     					<h4>Handsomely Crafted</h4>
     					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
     				</div>
     				<div class="col-md-4">
     					<i class="fa fa-flask"></i>
     					<h4>Retina Ready</h4>
     					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
     				</div>
     				<div class="col-md-4">
     					<i class="fa fa-trophy"></i>
     					<h4>Quality Theme</h4>
     					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
     				</div>	
     			</div>
     			<hr/>
	 		</div>
        </div>
        
        <div id='informationByAge'>
            <h2>Priorities By Age</h2>
            <div class='container'>
                <div class='row centered myBorder'>
                    <div class="col-md-3 col-sm-6 boxBorder">
     					<i class="fa fa-heart-o"></i>
     					<h4>Handsomely Crafted</h4>
     					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
     			        <div class='myList'>
     			            <h4><strong><u>Intellectual Development</u></strong></h4>
         			        <ol clear='left'>
         			            <li>Mathematical Skills</li>
         			            <li>Attention Skills</li>
         			            <li>Language and Communication Skills</li>
         			            <li>Recognition and perception of Objects, people, etc.</li>
         			        </ol> 
         			        
         			        <h4><strong><u>Intellectual Development</u></strong></h4>
         			        <ol>
         			            <li>Mathematical Skills</li>
         			            <li>Attention Skills</li>
         			            <li>Language and Communication Skills</li>
         			            <li>Recognition and perception of Objects, people, etc.</li>
         			        </ol>  
         			        
         			        <h4><strong><u>Intellectual Development</u></strong></h4>
         			        <ol>
         			            <li>Mathematical Skills</li>
         			            <li>Attention Skills</li>
         			            <li>Language and Communication Skills</li>
         			            <li>Recognition and perception of Objects, people, etc.</li>
         			        </ol>  
     			        </div>

     				</div>
     				<div class="col-md-3 col-sm-6 boxBorder">
     					<i class="fa fa-flask"></i>
     					<h4>Retina Ready</h4>
     					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
     			        <div class='myList'>
     			            <h4><strong><u>Intellectual Development</u></strong></h4>
         			        <ol clear='left'>
         			            <li>Mathematical Skills</li>
         			            <li>Attention Skills</li>
         			            <li>Language and Communication Skills</li>
         			            <li>Recognition and perception of Objects, people, etc.</li>
         			        </ol> 
         			        
         			        <h4><strong><u>Intellectual Development</u></strong></h4>
         			        <ol>
         			            <li>Mathematical Skills</li>
         			            <li>Attention Skills</li>
         			            <li>Language and Communication Skills</li>
         			            <li>Recognition and perception of Objects, people, etc.</li>
         			        </ol>  
         			        
         			        <h4><strong><u>Intellectual Development</u></strong></h4>
         			        <ol>
         			            <li>Mathematical Skills</li>
         			            <li>Attention Skills</li>
         			            <li>Language and Communication Skills</li>
         			            <li>Recognition and perception of Objects, people, etc.</li>
         			        </ol>  
     			        </div>
     				
     				</div>
     				<div class="col-md-3 col-sm-6 boxBorder">
     					<i class="fa fa-trophy"></i>
     					<h4>Quality Theme</h4>
     					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
     			        <div class='myList'>
     			            <h4><strong><u>Intellectual Development</u></strong></h4>
         			        <ol clear='left'>
         			            <li>Mathematical Skills</li>
         			            <li>Attention Skills</li>
         			            <li>Language and Communication Skills</li>
         			            <li>Recognition and perception of Objects, people, etc.</li>
         			        </ol> 
         			        
         			        <h4><strong><u>Intellectual Development</u></strong></h4>
         			        <ol>
         			            <li>Mathematical Skills</li>
         			            <li>Attention Skills</li>
         			            <li>Language and Communication Skills</li>
         			            <li>Recognition and perception of Objects, people, etc.</li>
         			        </ol>  
         			        
         			        <h4><strong><u>Intellectual Development</u></strong></h4>
         			        <ol>
         			            <li>Mathematical Skills</li>
         			            <li>Attention Skills</li>
         			            <li>Language and Communication Skills</li>
         			            <li>Recognition and perception of Objects, people, etc.</li>
         			        </ol>  
     			        </div>
     				
     				</div>		 
     				<div class="col-md-3 col-sm-6 boxBorder">
     					<i class="fa fa-trophy"></i>
     					<h4>Quality Theme</h4>
     					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
     			        <div class='myList'>
     			            <h4><strong><u>Intellectual Development</u></strong></h4>
         			        <ol clear='left'>
         			            <li>Mathematical Skills</li>
         			            <li>Attention Skills</li>
         			            <li>Language and Communication Skills</li>
         			            <li>Recognition and perception of Objects, people, etc.</li>
         			        </ol> 
         			        
         			        <h4><strong><u>Intellectual Development</u></strong></h4>
         			        <ol>
         			            <li>Mathematical Skills</li>
         			            <li>Attention Skills</li>
         			            <li>Language and Communication Skills</li>
         			            <li>Recognition and perception of Objects, people, etc.</li>
         			        </ol>  
         			        
         			        <h4><strong><u>Intellectual Development</u></strong></h4>
         			        <ol>
         			            <li>Mathematical Skills</li>
         			            <li>Attention Skills</li>
         			            <li>Language and Communication Skills</li>
         			            <li>Recognition and perception of Objects, people, etc.</li>
         			        </ol>  
     			        </div>
     			
     				</div>	
 				</div><!--row-->
            </div>
        </div>
        
        

</div>
<!-- /#wrapper -->

<% include ./partials/dashboardCommon/footer.ejs %>