<% include ./partials/dashboardCommon/header.ejs %>


<div id='presentation'>
  	 <div class="container">
			<div class="row">
				<div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
					<h1>Online Platform to measure the development of children in Nurseries.</h1>
					<h4>
					We will make sure to calculate and present the development of your users in a friendly way,
					<br/>whilst keeping the data you store secured and private.
					</h4>			
					<br/>
				</div>
				<div class="col-lg-8 col-lg-offset-2 himg">
					<a class='btn btn-success btn-lg' href='/register/nursery'>Register a Nursery</a>
				</div>
			</div><!-- /row -->
	   </div> <!-- /container -->
    <br/>
    
    <div class='container'>
      <div id="homeCarousel" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#homeCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#homeCarousel" data-slide-to="1"></li>
            <li data-target="#homeCarousel" data-slide-to="2"></li>
            <li data-target="#homeCarousel" data-slide-to="3"></li>
          </ol>
        
          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item active">
                <div style="background:url(https://static.pexels.com/photos/159782/girl-kids-training-school-159782.jpeg) center center; background-size:cover; background-repeat: no-repeat" class="slider-size img-responsive"></div>
              <div class="carousel-caption">
                <h4>hgfhgf</h4>
              </div>
            </div>
            <div class="item">
              <div style="background:url(/img/carrousel/maingraph.png) center center; background-size:cover; background-repeat: no-repeat" class="slider-size img-responsive"></div>
              <div class="carousel-caption">
                <h4>Main Graph</h4>
              </div>
            </div>
             <div class="item">
              <div style="background:url(/img/carrousel/polls.png) center center; background-size:cover; background-repeat: no-repeat" class="slider-size img-responsive"></div>
              <div class="carousel-caption">
                <h4>Poll</h4>
              </div>
             </div>
             <div class="item">
              <div style="background:url(/img/carrousel/notmaingraph.png) center center; background-size:cover; background-repeat: no-repeat" class="slider-size img-responsive"></div>
              <div class="carousel-caption">
                <h4>Specific Indicators</h4>
              </div>
             </div>             
          </div>
        
          <!-- Controls -->
          <a class="left carousel-control" href="javascript:void(0)" data-target="#homeCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="javascript:void(0)" data-target="#homeCarousel"  data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
      </div><!--carrousel-->
    </div><!--container-->

</div><!--presentation-->




	<!--Services-->
	 <div id="service">
	 	<div class="container">
 			<div class="row centered">
 				<div class="col-md-4">
 					<i class="fa fa-bolt"></i>
 					<h3><strong>Easy to Use</strong></h3>
 					<h4>
 					  The whole application has been made in such a way that it is very easy to use. </br> You do not need to be a tech savy and both nursey staff and parents will have no problems using it since the application is very intuitive.
 					</h4>
 				</div>
 				<div class="col-md-4">
 					<i class="fa fa-shield"></i>
 					<h3><strong>Secure & Private</strong></h3>
 					<h4>
 					  We have made sure to create a unique Content Management System just for your nursery. Furthermore, the platform has been implemented with many security and encryption features that protects the data your Nursery will store about its users.
 					</h4>
 				</div>
 				<div class="col-md-4">
 					<i class="fa fa-mobile"></i>
 					<h3><strong>Mobile Optimized</strong></h3>
 					<h4> 
            The whole platform is mobile responsive.</br> This means they will work great on every device regardless of its operating system.</br> Therefore it is fully compatible with Computers, Tablets and Smartphones of any kind. 
          </h4>
 				</div>		 				
	 		</div>
	 	</div><!--/container -->
	 </div><!--/service -->
	 
	 
	 	<!--Benefits-->
	 <div id="benefits">
	 	<div class="container">
 			<div class="row centered myBorder">
 				<div class="col-md-6 insideBorder">
 					<h3><i class="fa fa-graduation-cap"></i> <strong>Benefits For Nurseries</strong></h3>
 					<div class='myBenefits'>
 					  <ul>
 					    <li>Store and Manage the data of children, parents and teachers that belong to the nursery.</li>
 					    <li>Provide parents with a mobile friendly graph of how their children are progressing.</li>
 					    <li>Nursery staff can access the medical records of children.</li>
 					    <li>Nursery staff can send/receive messages to/from parents within the application.</li>
 					    <li>Nursery manager can create polls where parents and teachers can vote.</li>
 					  </ul>
 					</div>
 				</div>
 				<div class="col-md-6 insideBorder">
 					<h3><i class="fa fa-users"></i> <strong>Benefits For Parents</strong></h3>
 					<div class='myBenefits'>
 					  <ul>
 					    <li>Parents can see how their children are progressing.</li>
 					    <li>Parents can upload and update both personal and medical records.</li>
 					    <li>Parents can send/receive messages to/from the nursery staff within the application.</li>
 					    <li>Parents can have the opportunity to participate in polls created by the nursery.</li> 
 					    <li>Parents can update/delete their profile when desired.</li> 
 					  </ul>
 					</div>
 				</div>
 			 				
	 		</div>
	 	</div><!--/container -->
	 </div><!--/service -->
	 
	 
</div>
<!-- /#wrapper -->

<% include ./partials/dashboardCommon/footer.ejs %>