<% include ./partials/dashboardCommon/header.ejs %>


<div id='presentation'>
  	 <div class="container">
			<div class="row">
				<div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
					<h1>Eyecatching Bootstrap 3 Theme.</h1>
					<h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry.<br/>
					More Lorem Ipsum added here too.
					</h4>				
				</div>
				<div class="col-lg-8 col-lg-offset-2 himg">
					<a class='btn btn-success btn-lg' href='/register/nursery'>Register a Nursery</a>
				</div>
			</div><!-- /row -->
	   </div> <!-- /container -->
    <br/>
    
    <div class='container'>
      <div id="homeCarousel" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#homeCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#homeCarousel" data-slide-to="1"></li>
            <li data-target="#homeCarousel" data-slide-to="2"></li>
            <li data-target="#homeCarousel" data-slide-to="3"></li>
          </ol>
        
          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item active">
                <div style="background:url(https://static.pexels.com/photos/159782/girl-kids-training-school-159782.jpeg) center center; background-size:cover; background-repeat: no-repeat" class="slider-size img-responsive"></div>
              <div class="carousel-caption">
                <h4>hgfhgf</h4>
              </div>
            </div>
            <div class="item">
              <div style="background:url(/img/carrousel/maingraph.png) center center; background-size:cover; background-repeat: no-repeat" class="slider-size img-responsive"></div>
              <div class="carousel-caption">
                <h4>Main Graph</h4>
              </div>
            </div>
             <div class="item">
              <div style="background:url(/img/carrousel/polls.png) center center; background-size:cover; background-repeat: no-repeat" class="slider-size img-responsive"></div>
              <div class="carousel-caption">
                <h4>Poll</h4>
              </div>
             </div>
             <div class="item">
              <div style="background:url(/img/carrousel/notmaingraph.png) center center; background-size:cover; background-repeat: no-repeat" class="slider-size img-responsive"></div>
              <div class="carousel-caption">
                <h4>Specific Indicators</h4>
              </div>
             </div>             
          </div>
        
          <!-- Controls -->
          <a class="left carousel-control" href="javascript:void(0)" data-target="#homeCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="javascript:void(0)" data-target="#homeCarousel"  data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
      </div><!--carrousel-->
    </div><!--container-->

</div><!--presentation-->




	<!--Services-->
	 <div id="service">
	 	<div class="container">
 			<div class="row centered">
 				<div class="col-md-4">
 					<i class="fa fa-heart-o"></i>
 					<h4>Handsomely Crafted</h4>
 					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
 					<p><br/><a href="#" class="btn btn-theme">More Info</a></p>
 				</div>
 				<div class="col-md-4">
 					<i class="fa fa-flask"></i>
 					<h4>Retina Ready</h4>
 					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
 					<p><br/><a href="#" class="btn btn-theme">More Info</a></p>
 				</div>
 				<div class="col-md-4">
 					<i class="fa fa-trophy"></i>
 					<h4>Quality Theme</h4>
 					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
 					<p><br/><a href="#" class="btn btn-theme">More Info</a></p>
 				</div>		 				
	 		</div>
	 	</div><!--/container -->
	 </div><!--/service -->
	 
	 
	 	<!--Benefits-->
	 <div id="benefits">
	 	<div class="container">
 			<div class="row centered myBorder">
 				<div class="col-md-6 insideBorder">
 					<i class="fa fa-heart-o"></i>
 					<h4>Handsomely Crafted</h4>
 					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
 					<p><br/><a href="#" class="btn btn-theme">More Info</a></p>
 				</div>
 				<div class="col-md-6 insideBorder">
 					<i class="fa fa-flask"></i>
 					<h4>Retina Ready</h4>
 					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
 					<p><br/><a href="#" class="btn btn-theme">More Info</a></p>
 				</div>
 			 				
	 		</div>
	 	</div><!--/container -->
	 </div><!--/service -->
	 
	 
</div>
<!-- /#wrapper -->

<% include ./partials/dashboardCommon/footer.ejs %>