     

 
 <!-------------------------------------------------------------------------------->
   <div class="col-md-3 col-sm-4 col-xs-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div id='intellectualInfo' data-toggle="modal" data-target="#myModal">
                    <span><i class="fa fa-fw fa-info-circle clearBlue" aria-hidden="true" data-toggle="tooltip" title='Click to see how this skill is evaluated at this age' ></i></span>
                    <strong><u>Intellectual Development</u></strong>
                </div>
               
            </div> <!-- /.panel-heading -->
            <div class="panel-body">
                  <div id='intellectualNP'></div>
                  <div id='legendIntellectualNP'></div>
            </div><!-- /.panel-body -->
        </div><!--panel-->
    </div><!--column-->
    
    <div class="col-md-3 col-sm-4 col-xs-12">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <div id='socialInfo' data-toggle="modal" data-target="#myModal">
                    <span><i class="fa fa-fw fa-info-circle clearBlue" aria-hidden="true" data-toggle="tooltip" title='Click to see how this skill is evaluated at this age' ></i></span> 
                    <strong><u>Social and Emotional Development</u></strong>
                </div>
               
            </div> <!-- /.panel-heading -->
            <div class="panel-body">
                   <div id='socialNP'></div>
                   <div id='legendSocialNP'></div>
            </div><!-- /.panel-body -->
        </div><!--panel-->
    </div><!--column-->  
    
    <div class="col-md-3 col-sm-4 col-xs-12">
        <div class="panel panel-warning">
            <div class="panel-heading">
                
                     <div id='physicalInfo' data-toggle="modal" data-target="#myModal">
                         <span><i class="fa fa-fw fa-info-circle clearBlue" aria-hidden="true" data-toggle="tooltip" title='Click to see how this skill is evaluated at this age' ></i></span> 
                         <strong><u>Psychomotor and Physical Development</u></strong>
                     </div>
               
            </div> <!-- /.panel-heading -->
            <div class="panel-body">
                   <div id='physicalNP'></div>
                   <div id='legendPhysicalNP'></div>
            </div><!-- /.panel-body -->
        </div><!--panel-->
    </div><!--column-->                        

<script src='/myD3Functions/pieChartOthers.js'></script>
