<% include ../partials/header.ejs %>

<div class='row'>

        <div class="wrapper  col-md-6">
            <form method='POST' action='/login/stuff/manager' class="form-signin">       
              <h2 class="form-signin-heading">Manager's Access</h2>
        
             <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-envelope-o fa-lg fa-fw" aria-hidden="true"></i></span>
                <input type="text" class="form-control" name="username" placeholder="Please enter your email address"/>
            </div>
            
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-lock fa-lg fa-fw" aria-hidden="true"></i></span>
                <input type="password" class="form-control" name="password" placeholder="Please enter your password">
              </div>
        
              <br>
              <div class="form-group">
                    <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe">
                    <label class="control-label" for="rememberMe">Remember me:</label>
              </div>
             
              
              <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>   
            </form>
          </div>
          
          <div class="wrapper col-md-6">
            <form class="form-signin" method='POST' action='/login/stuff/teacher'>       
              <h2 class="form-signin-heading">Teacher's Access</h2>
        
             <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-envelope-o fa-lg fa-fw" aria-hidden="true"></i></span>
                <input type="text" class="form-control" name="username" placeholder="Please enter your email address"/>
            </div>
            
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-lock fa-lg fa-fw" aria-hidden="true"></i></span>
                <input type="password" class="form-control" name="password" placeholder="Please enter your password">
              </div>
        
              <br>
              <div class="form-group">
                    <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe">
                    <label class="control-label" for="rememberMe">Remember me:</label>
              </div>
             
              
              <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>   
            </form>
          </div>
          
</div>

<% include ../partials/footer.ejs %>