<% include ../dashboardCommon/dashboardHeader.ejs %>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li>
                        <a href="/dashboard/teacher/<%= currentUser._id %>"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                    </li>
                    <li>
                        <a href="/dashboard/teacher/<%= currentUser._id %>/children"><i class="fa fa-fw fa-users" aria-hidden="true"></i> Children</a>
                    </li>
                    <li>
                        <a href="/dashboard/teacher/<%= currentUser._id %>/polls"><i class="fa fa-fw fa-users" aria-hidden="true"></i> Polls</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-fw fa-edit"></i> Reports</a>
                    </li>
                   
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i> Inbox <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="demo" class="collapse">
                            <li>
                                <a href="#"><i class="fa fa-fw fa-envelope"></i> To/From Parents</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-fw fa-envelope"></i> To/From Manager</a>
                            </li>
                        </ul>
                    </li>
                   
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>
        
         <script>
         var userIdFromEjs= '<%-currentUser._id %>';//pass variable coming from ejs to Static Scipt
        </script>